.full {
    width: 100vw;
    height: 100vh;
}

.initial {
    position: initial;
    width: initial;
    top: initial;
    height: initial;
    font-size: initial;
    color: initial;
    background-color: initial;
    text-align: initial;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}
