$primary_color: #131111;
$secondary_color: LIGHTSALMON;
$black: #211A1A;
$white: #E0D6D6;

html {
    background: url(../lib/img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    $headerHeight: 57px;
    $marginHeight: 100px;    
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
    header#navigation {
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 0px;
        height: $headerHeight;
        font-size: 2.6rem;        
        color: rgba($white, 0.95);
        background-color: $black;
        text-align: right;
        ul {
            margin: 0px 15px;
            @media only screen and (max-width: 425px){
                display: none;
            }
            li {
                cursor: pointer;
                display: inline-block;
                padding: 15px;
                transition: color 0.5s;
                &:hover {
                    color: $secondary_color;
                }
            }
        }
    }

    img#logo {
        display: block;
        height: $marginHeight - 30px;
        width: auto;
        margin: $headerHeight+15px auto 15px auto;
    }

    main#content {
        max-width: 1480px;
        margin: 0 auto;
        color: $primary_color;
        background-color: white;
        margin: 0px auto $marginHeight auto; // if logo deleted add $marginHeight to top
        min-height: 100%;
        width: 90%;
        transition: background-color 1.5s;
        padding: 10px 30px;

        &:hover {
            background-color: rgba(white, 0.9);
        }
        header {
            color: darken($secondary_color, 50%);
            margin-bottom: 10px;
        }
        main {
            margin: 30px 40px;
        }
        section#about {
            main {
            }
        }
        section#projects {
            main {
                max-width: 940px;
                margin: 0 auto;
                display: block;
                text-align: center;
                
            }
        }
    }
}